.button{
    border:none; 
    cursor: pointer;  
    text-decoration: none; 
    display: inline-block; 
    outline: none;
    
  }
  .button span{
    background: transparent; 
  }
  .button:focus{ outline: none;}
  .button:active{ outline: none;}
  .button:hover {text-decoration: none;}
  .button:hover span{
    text-decoration: none;
    color: #fff; 
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 450ms;
  }
  .button span{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-weight: 600; 
    font-size: 16px; 
    padding: 0 16px;
    height: 24px; 
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.24); 
    background-color: #fff; 
    border-radius: 5px; 
    color: rgba(0, 0, 0, 0.87); }
  
  .button--primary span{
    color:#fff;
    background-color: rgb(255, 64, 129);
  }
  .button--disabled span{
    user-select: none;
    color: rgba(0, 0, 0, 0.3);
    
  }
  .button--disabled{
    cursor: not-allowed;
  }
  .button.btn-sm span{
    padding: 0 12px;
    font-size:14px;
    height: 20px;
  }
  .button.btn-lg span{
    padding: 0 20px;
    font-size: 18px;
    height: 30px;
  }